
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

h1 , h2 , h3 {
  font-family: "Lato", serif;
  font-weight: 500;
  font-style: bold;
  font-size: 60px;
 }

body{
  font-family: "Lora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

